
body {
    font-family: Arial, Sans-Serif;
    font-size: 13px;
    }
#inputArea
{
    font-family: Arial, Sans-Serif;
    font-size: 13px;
    margin:0 auto;
    padding: 20px;
    width:310px;
}

#inputArea input, #inputArea textarea
    {
    font-family: Arial, Sans-Serif;
    font-size: 13px;
    margin-bottom: 5px;
    display: block;
    padding: 4px;
    width: 300px;
    }
th {
    color: #000;
}
td {
    background: #fff;
    text-align: center;
    }
td, th {
    padding: 5px 10px;
    vertical-align: top;
    text-align: left;
    border: 1px solid black;
    }
