{% extends "base.html" %}
{% block content %}
<div id="inputArea">
<form method="POST">
    Фамилия: <label><input type="text" id="s_name" name="s_name"/></label><br/>
    Имя: <label><input type="text" id="name" name="name"/></label><br/>
    Отчество: <label><input type="text" id="m_name" name="m_name"/></label><br/>
    Регион: <label><input type="text" id="region" name="region"/></label><br/>
    Город: <label><input type="text" id="city" name="city"/></label><br/>
    Контактный телефон: <label><input type="text" id="phone" name="phone"/></label><br/>
    E-mail: <label><input type="text" id="email" name="email"/></label><br/>
    Комментарий: <label><input type="text" id="comment" name="comment"/></label><br/>
    <input type="submit" value="Отправить">
</form>
</div>

{% endblock %}